<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MicroMessage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.sunny.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/List.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOneServlet</servlet-name>
    <servlet-class>com.sunny.servlet.DeleteOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOneServlet</servlet-name>
    <url-pattern>/DeleteOne.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <servlet-class>com.sunny.servlet.DeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <url-pattern>/DeleteBatch.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitTalkServlet</servlet-name>
    <servlet-class>com.sunny.servlet.InitTalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitTalkServlet</servlet-name>
    <url-pattern>/InitTalk.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoReplyServlet</servlet-name>
    <servlet-class>com.sunny.servlet.AutoReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoReplyServlet</servlet-name>
    <url-pattern>/AutoReply.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllCommandServlet</servlet-name>
    <servlet-class>com.sunny.servlet.ShowAllCommandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllCommandServlet</servlet-name>
    <url-pattern>/ShowAllCommand.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewItemServlet</servlet-name>
    <servlet-class>com.sunny.servlet.AddNewItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewItemServlet</servlet-name>
    <url-pattern>/AddNewItem.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyItemServlet</servlet-name>
    <servlet-class>com.sunny.servlet.ModifyItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyItemServlet</servlet-name>
    <url-pattern>/ModifyItem.action</url-pattern>
  </servlet-mapping>
</web-app>